
<div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
    <form class="form" method="" action="">
      <div class="card">
        <div class="card-header card-header-tabs card-header-danger">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a
                    mat-button
                    class="nav-link active"
                    href="#profile"
                    data-toggle="tab"
                  >
                    <i class="material-icons">person</i> Đăng nhập
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    mat-button
                    class="nav-link"
                    href="#messages"
                    data-toggle="tab"
                  >
                    <i class="material-icons">person_add</i> Đăng ký
                    <div class="ripple-container"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="profile">
              <div class="col-md-12">
                
                <div class="form-group bmd-form-group">
                  
                  <textarea id="message-text" type="text" placeholder="Tên đăng nhập" class="form-control" ></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group bmd-form-group">
                  <textarea type="password" placeholder="Mật khẩu" class="form-control" ></textarea>
                  
                </div>
                
              </div>
             
              <div class="col-md-12">
              <button
                class="btn btn-danger "
                type="submit"
              >
                <span class="mat-button-wrapper">Đăng nhập</span>
                <div class="mat-button-ripple mat-ripple" matripple=""></div>
                <div class="mat-button-focus-overlay"></div>
              </button>
              </div>
            </div>
            <div class="tab-pane" id="messages">
              <div class="tab-pane active" id="profile">
                <div class="col-md-12">
                  
                  <div class="form-group bmd-form-group">
                    
                    <textarea id="message-text" type="text" placeholder="Tên đăng nhập" class="form-control" ></textarea>
                  </div>
                  <div class="form-group bmd-form-group">
                    
                    <textarea id="message-text" type="text" placeholder="Mật khẩu" class="form-control" ></textarea>
                  </div>
                  <div class="form-group bmd-form-group">
                    
                    <textarea id="message-text" type="text" placeholder="Xác nhận mật khẩu" class="form-control" ></textarea>
                  </div>
                  <div class="form-group bmd-form-group">
                    
                    <textarea id="message-text" type="text" placeholder="Họ tên" class="form-control" ></textarea>
                  </div>
                  <div class="form-group bmd-form-group">
                    
                    <textarea id="message-text" type="text" placeholder="Email" class="form-control" ></textarea>
                  </div>
                  <div class="form-group bmd-form-group">
                    
                    <textarea id="message-text" type="text" placeholder="Số điện thoại" class="form-control" ></textarea>
                  </div>
                </div>
               
                <div class="col-md-12">
                <button
                  class="btn btn-danger "
                  type="submit"
                >
                  <span class="mat-button-wrapper">Đăng ký</span>
                  <div class="mat-button-ripple mat-ripple" matripple=""></div>
                  <div class="mat-button-focus-overlay"></div>
                </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  